/*
Why i hate css 🤷‍♂️
CSS is the most painful thing for a web developer especial when it comes
to responsiveness

I hate CSS because its css
its easy to learn but hard to fix
css bugs are annoying than cors error
Oh lord help us, style our mind with css

:)
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
:root {
    --primary-color: #1F1D2B;
    --secondary-color: #272636;
    --accent-color: #6F6FC8;
    --error-color: #FE4343;
    --text-color: #F9F9F9;
    --text-opacity-color: #D1D1D1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    font-family: 'Nunito', sans-serif !important;
    padding: 50px 60px !important;
}

@media (max-width: 700px) {
    body {
        padding: 20px 30px !important;
    }
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
    border-radius: 5px;
}


/* custom selection  */

::selection {
    background: var(--accent-color);
}

button,
input,
textarea {
    outline: none;
    border: none;
    background: none;
}